/* nav  */
@font-face {
    font-family: lobster;
    src: url(fonts/Lobster-Regular.ttf);
}

.nav {
    height: 61px;
    background-color: #ffc141;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

#logout-btn {
    height: 35px;
    background-color: white;
    color: #ffc141;
}

body {
    margin: 0;
}

.nav > p {
    margin: 0;
    font-family: lobster;
    font-size: 31px;
    text-transform: uppercase;
    /* padding-top: 7px; */
}

/* content  */
#editor-box1 {
    padding: 20px;
}

#post {
    padding: 20px;
}

.row {
    margin: 0;
}

/* @media only screen and (max-width: 576px) {
    .nav {
        display: flex;
        justify-content: space-around;
    }
} */

#editor-box2 {
    margin-bottom: 30px;
}

#editor {
    font-size: 18px;
}

#post-btn {
    width: 100%;
    background-color: #ffc141;
}

#post-card {
    background-color: #ffc141;
    font-size: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
