body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 122vh;
    background-color: #ffc141;
}

.box {
    width: 404px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 26px;
    border-radius: 17px;
    background-color: white;
}

@media only screen and (max-width: 508px) {
    .box {
        box-shadow: none;
        border-radius: none;
    }
}